aerich==0.5.8
aiogram==2.16
aiohttp==3.8.1
aiosignal==1.2.0
aiosqlite==0.17.0
APScheduler==3.8.1
asgiref==3.4.1
async-timeout==4.0.1
asyncpg==0.25.0
attrs==21.2.0
Babel==2.9.1
backoff==1.11.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
black==21.11b1
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
ddlparse==1.10.0
dictdiffer==0.9.0
distlib==0.3.4
emoji==1.6.1
filelock==3.6.0
frozenlist==1.2.0
h11==0.12.0
identify==2.4.11
idna==3.3
iso8601==0.1.16
multidict==5.2.0
mypy-extensions==0.4.3
nodeenv==1.6.0
numpy==1.22.0
pathspec==0.9.0
platformdirs==2.4.0
pre-commit==2.17.0
pydantic==1.8.2
pyparsing==3.0.6
pypika-tortoise==0.1.1
pytest==7.1.2
pytest-mock==3.8.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2021.11.10
six==1.16.0
soupsieve==2.3.1
toml==0.10.2
tomli==1.2.2
tortoise-orm==0.17.8
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
virtualenv==20.13.2
yarl==1.7.2
